  th, td {
    text-align: center;
    padding: 12px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  .leaflet-container{
    height: 600px;;
    width: 100%;
  }

  iframe{
    margin-top: 1rem;
  }

  .per{
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    
  }
  
  .name{
    font-family: 'montserrat', sans-serif;
    color: #f79439;
  }

  .style{
    height: 240px;
    width: 0px;
  }

  legend{
    position: top;
  }

  .temp{
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }